* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  font-size: 1.5rem;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  height: 358px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
  font-weight: normal;
}

.backfon {
  background-image: url(image/backfon.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  min-width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  text-align: start;
  padding-top: 196px;
  position: relative;
  z-index: 0;
}

.header__title {
  position: relative;
  font-size: 4rem;
  color: rgb(32, 32, 39);
  margin-bottom: 24px;
  z-index: 1;
}

.header__description {
  position: relative;
  font-size: 1.5rem;
  color: rgb(32, 32, 39);
  margin-bottom: 48px;
  z-index: 1;
}

.header__button {
  font-family: inherit;
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  width: 247px;
  background-color: rgb(32, 32, 39);
  color: white;
  padding: 16px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
  z-index: 1;
}

.header__button_mobile {
  font-family: inherit;
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  width: 247px;
  background-color: rgb(32, 32, 39);
  color: white;
  padding: 16px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  display: none;
}

.header__button:hover {
  background-color: #fff;
  color: #202027;
}

body {
  margin: 0;
}

.background-container {
  height: 90px;
  background-color: rgb(188, 236, 48);
  width: 100%;
}

.stars {
  z-index: 2;
}

.stars__pos-1 {
  top: -351px;
  right: -590px;
  height: auto;
  animation-delay: 0s, 0s;
}

.stars__pos-1_mob {
  display: none;
}

.stars__pos-2 {
  top: 94px;
  left: 63px;
  height: auto;
  animation-delay: 0.5s, 1s;
}

.stars__pos-3 {
  top: 69px;
  left: 156px;
  height: auto;
  animation-delay: 1s, 2s;
}

.stars__pos-4 {
  bottom: 59px;
  right: 344px;
  height: auto;
  animation-delay: 1.5s, 3s;
}

.stars__pos-5 {
  bottom: 135px;
  right: 455px;
  height: auto;
  animation-delay: 2s, 4s;
}

.star {
  position: absolute;
  z-index: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 90px;
}

.strip {
  max-width: 100vw;
  width: auto;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: moveLeft 40s linear infinite;
}

.strip span {
  display: inline-block;
  padding: 10px;
  color: black;
  margin-right: 51px;
  position: relative;
}

.strip span::after {
  content: "";
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background-image: url("data:image/svg+xml,%3Csvg width='36.000000' height='36.000000' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath id='Star' d='M18 0L13.13 13.13L0 18L13.13 22.86L18 36L22.86 22.86L36 18L22.86 13.13L18 0Z' fill='%23202027' fill-opacity='1.000000' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}
.top-content {
  overflow: hidden;
  background-color: rgb(32, 32, 39);
  position: relative;
  z-index: 0;
}

.top-content__stars-6 {
  z-index: 1;
  width: 584.72px;
  height: 584.72px;
  left: 933px;
  top: 77px;
  transform: rotate(-6.77deg);
  animation-delay: 0.5s, 1.5s;
}

.top-content__stars-7 {
  z-index: 1;
  width: 31.34px;
  height: 31.34px;
  left: -97.03px;
  top: 770px;
  transform: rotate(5.45deg);
  animation-delay: 1s, 2.5s;
}

.top-content__stars-8 {
  z-index: 1;
  width: 54.6px;
  height: 54.6px;
  left: -71.82px;
  top: 822px;
  transform: rotate(5.45deg);
  animation-delay: 1.5s, 3.5s;
}

.top-content__title {
  position: relative;
  padding-top: 94px;
  color: #fff;
  padding-bottom: 24px;
  z-index: 2;
}

.top-content__info {
  position: relative;
  color: #fff;
  z-index: 2;
}

.games {
  padding-top: 72px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 50px;
  gap: 32px;
  z-index: 2;
}

.game {
  position: relative;
  width: auto;
  background-color: #fff;
  border-radius: 30px;
  z-index: 2;
  transform-style: preserve-3d;
  transition: transform 0.7s ease;
}

.game:hover {
  z-index: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.games__link {
  text-decoration: none;
  z-index: 2;
  color: #202027;
  display: block;
  perspective: 1000px;
}

.game-1 {
  height: 473px;
}

.game-2 {
  height: 512px;
}

.game-3 {
  height: 473px;
}

.game-4 {
  height: 551px;
}

.game-5 {
  height: 512px;
  transform: translateY(34px);
}

.game-6 {
  height: 551px;
}

.img-game {
  border-radius: 30px;
}

.game-info {
  padding: 32px 32px 32px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: auto;
}
.game-info__number {
  font-size: 1rem;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 108px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-info__name {
  font-size: 2rem;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.star {
  animation: twinkle 2s infinite;
}

.stars__pos-2,
.stars__pos-3,
.stars__pos-4,
.stars__pos-5,
.top-content__stars-6,
.top-content__stars-7,
.top-content__stars-8,
.games-box__stars-9,
.games-box__stars-10,
.games-box__stars-11,
.games-box__stars-12 {
  animation: twinkle 2s infinite, float 3s infinite;
}

.games-box {
  position: relative;
  background: rgb(32, 32, 39);
}
.games-box__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 46px;
  padding-bottom: 72px;
}
.games-box__stars-9, .games-box__stars-10, .games-box__stars-11, .games-box__stars-12 {
  position: absolute;
  transform: translateY(-50%);
  width: auto;
}
.games-box__stars-9 {
  right: 123px;
  top: 93px;
}
.games-box__stars-10 {
  right: 44px;
  top: 126px;
}
.games-box__stars-11 {
  top: auto;
  bottom: 45px;
  right: 150px;
  transform: none;
}
.games-box__stars-12 {
  top: auto;
  bottom: 65px;
  right: 52px;
  transform: none;
}

.games-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 144px;
}

.game-card {
  height: 500px;
  width: 1200px;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 30px;
}
.game-card__name {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}
.game-card__info {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.game-card__button {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 247px;
  height: 66px;
  background-color: rgb(32, 32, 39);
  color: white;
  text-decoration: none;
  border-radius: 60px;
  font-size: 16px;
  transition: transform 0.43s ease-in-out;
}
.game-card__button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
  transform: rotate(360deg);
  border: 1px solid rgb(32, 32, 39);
}

.game-card__box {
  margin: 48px 48px 48px 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.footer-games {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: rgb(189, 237, 53);
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

.background-container_mobile {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .games__link:hover .game {
    transform: rotate3d(1, 1, 0, 10deg) scale(1.1);
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .center {
    padding-left: calc(50% - 187.5px);
    padding-right: calc(50% - 187.5px);
  }
  .header {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    text-align: center;
  }
  .header__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
  }
  .header__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .header__button {
    display: none;
  }
  .header__button_mobile {
    width: 229px;
    display: inline-block;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    text-decoration: none;
  }
  .background-container {
    height: 51px;
  }
  .container {
    height: 51px;
  }
  .strip {
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
  }
  .strip span::after {
    width: 19px;
    height: 19px;
    order: 1;
    background-image: url("data:image/svg+xml,%3Csvg width='19.000000' height='19.000000' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath id='Star' d='M18 0L13.13 13.13L0 18L13.13 22.86L18 36L22.86 22.86L36 18L22.86 13.13L18 0Z' fill='%23202027' fill-opacity='1.000000' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
  .stars__pos-1 {
    display: none;
  }
  .stars__pos-1_mob {
    display: block;
    width: 223.52px;
    height: 238.57px;
    left: 182.81px;
    top: -101.43px;
    transform: rotate(108.68deg);
  }
  .stars__pos-2 {
    width: 35px;
    height: 35px;
    left: -118px;
    top: 148px;
  }
  .stars__pos-3 {
    width: 21px;
    height: 21px;
    left: -62px;
    top: 109px;
  }
  .stars__pos-4 {
    width: 39px;
    height: 41px;
    left: 175px;
    top: 672px;
  }
  .stars__pos-5 {
    width: 18px;
    height: 18px;
    left: 140px;
    top: 657px;
  }
  .top-content {
    display: none;
  }
  .games-box {
    display: none;
  }
  .background-container_mobile {
    background: rgb(32, 32, 39);
    display: block;
    padding: 48px 0px;
  }
  .mobile-box {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
  .mobile-box__top-title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    line-height: 49px;
    padding-bottom: 48px;
    text-align: left;
  }
  .mobile-box__game-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    flex: 1 1 calc(100% - 32px);
    max-width: calc(100% - 32px);
    box-sizing: border-box;
  }
  .mobile-box__img {
    border-radius: 30px;
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .mobile-box-info__title {
    padding-top: 48px;
    padding-left: 29px;
    font-size: 2rem;
    line-height: 39px;
    margin-bottom: 16px;
  }
  .mobile-box-info__description {
    padding-left: 29px;
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 32px;
  }
  .mobile-box-info__button {
    width: calc(100% - 48px);
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 29px 29px 32px 29px;
    text-decoration: none;
    color: white;
    background-color: rgb(32, 32, 39);
    border-radius: 60px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .footer-games {
    font-size: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  .header {
    margin: 32px;
  }
  .mobile-box__game-card {
    flex: 1 1 calc(50% - 12px);
    max-width: calc(50% - 12px);
  }
  .top-content {
    padding-left: 32px;
  }
  .header__title {
    font-size: 3rem;
  }
  .header__description {
    font-size: 1.2rem;
  }
  .center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
  }
  .games {
    grid-template-columns: repeat(2, 1fr);
  }
  .games__link {
    width: 100%;
  }
  .game {
    width: 100%;
  }
  .game-card {
    width: 90%;
  }
  .game {
    height: 624px;
  }
  .game-5 {
    transform: translateY(0px);
  }
  .img-game {
    width: 100%;
    height: auto;
  }
  .game-card {
    display: flex;
    height: 500px;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    overflow: hidden;
  }
  .game-card__img {
    width: 50%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .game-card__info {
    font-size: 16px;
    line-height: 24px;
  }
  .games-box {
    padding: 32px;
  }
  .games-box__stars-11 {
    right: 72px;
  }
  .games-box__stars-12 {
    right: 6px;
  }
  .games-box__stars-9 {
    right: 120px;
  }
  .games-box__stars-10 {
    right: 61px;
  }
}
@media (min-width: 1440px) {
  .games-box__stars-9 {
    max-width: 100px;
  }
  .games-box__stars-10 {
    max-width: 100px;
  }
  .games-box__stars-11 {
    max-width: 100px;
  }
  .games-box__stars-12 {
    max-width: 100px;
  }
}/*# sourceMappingURL=style.css.map */