* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat";
  font-size: 1.5rem;
}

.header {
  width: 768px;
  height: 358px;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
  font-weight: normal;
}

.backfon {
  background-image: url(image/backfon.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  width: 100vw;
  min-width: 100%;
  height: 800px;
}

.header {
  text-align: start;
  padding-top: 196px;
}

.header__title {
  font-size: 4rem;
  color: rgb(32, 32, 39);
  margin-bottom: 24px;
}

.header__description {
  font-size: 1.5rem;
  color: rgb(32, 32, 39);
  margin-bottom: 48px;
}

.header__button {
  font-size: 1.5rem;
  width: 247px;
  background-color: black;
  color: white;
  padding: 16px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header__button:hover {
  background-color: #fff;
  color: #202027;
}

body {
  margin: 0;
}

.background-container {
  height: 90px;
  background-color: rgb(188, 236, 48);
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 90px;
}

.strip {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: moveLeft 40s linear infinite;
}

.strip span {
  display: inline-block;
  padding: 10px;
  color: black;
  margin-right: 51px;
  position: relative;
}

.strip span::after {
  content: "";
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background-image: url("data:image/svg+xml,%3Csvg width='36.000000' height='36.000000' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath id='Star' d='M18 0L13.13 13.13L0 18L13.13 22.86L18 36L22.86 22.86L36 18L22.86 13.13L18 0Z' fill='%23202027' fill-opacity='1.000000' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}
.top-content {
  background-color: rgb(32, 32, 39);
}

.top-content__title {
  color: #fff;
  padding-bottom: 24px;
}

.top-content__info {
  color: #fff;
}

.games {
  padding-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.game {
  width: 378px;
  height: auto;
  background-color: #fff;
  border-radius: 30px;
}

.game:hover {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.games {
  overflow: hidden;
}

.img-game {
  border-radius: 30px;
}

.game-info {
  padding: 32px 32px 32px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: auto;
}

.game-info__namber {
  font-size: 1rem;
}

.game-info__name {
  font-size: 2rem;
}/*# sourceMappingURL=style.css.map */